<%= form_for @message do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p><%= f.submit %></p>
<% end %>
