<% title "Shard" %>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Users</th>
		<th>Messages</th>
  </tr>
  <% for shard in @shards %>
    <tr>
      <td><%= link_to shard.name, shard %></td>
      <td><%= shard.number %></td>
      <td><%= User.using(shard.key).count %></td>
      <td><%= Message.using(shard.key).count %></td>
      <td><%= link_to "(edit)", edit_shard_path(shard) %></td>
		</tr>
  <% end %>
	<tfoot>
		<tr>
			<td>Total</td>
			<td></td>
			<td><%= User.total_count %></td>
		</tr>
	</tfoot>				
</table>

<p>
	<%= link_to "New Shard", new_shard_path %> |
	<%= link_to "Rebalance Users", rebalance_shards_path %>
</p>
